body {
  background: linear-gradient(0deg, rgb(194, 194, 194) 30%, rgb(116, 205, 223) 100%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calculator {
  margin-top: 200px;
  border-radius: 10px;
  height: 390px;
  width: 300px;
  background: linear-gradient(90deg, rgb(73, 88, 87) 0%, rgb(89, 134, 143) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calculator .result {
  width: 90%;
  height: 100px;
  margin: 10px;
  margin-top: 0;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.calculator .result .result-span {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
}
.calculator .result .active-operator {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  color: gray;
}
.calculator .buttons-container {
  width: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, rgb(73, 88, 87) 0%, rgb(89, 134, 143) 100%);
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.calculator .buttons-container .clear-buttons {
  display: flex;
  width: 97%;
}
.calculator .buttons-container .clear-buttons .clear,
.calculator .buttons-container .clear-buttons .backspace {
  width: 50%;
  height: 50px;
  margin: 2px;
}
.calculator .buttons-container .clear-buttons .clear span,
.calculator .buttons-container .clear-buttons .backspace span {
  margin-top: 4px;
  font-size: 25px;
  font-weight: bold;
}
.calculator .buttons-container button {
  position: relative;
  background: linear-gradient(45deg, #ffffff 0%, rgb(190, 190, 190) 100%);
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: rgb(43, 43, 43);
}
.calculator .buttons-container .buttons-line {
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calculator .buttons-container .buttons-line .number,
.calculator .buttons-container .buttons-line .operator,
.calculator .buttons-container .buttons-line .operator-sum,
.calculator .buttons-container .buttons-line .dot {
  width: 70px;
  height: 45px;
  margin: 2px;
}
.calculator .buttons-container button::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0;
  transition: 0.1s ease-out;
}
.calculator .buttons-container button:hover::after {
  opacity: 1;
}

@media (max-width: 500px) {
  .calculator {
    margin-top: 50px;
  }
}